 @model List<Client>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Plot No-742/2784,Bharat Villa, Rudrapur,Pin-752101</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>24 x 7</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>9337232208</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>LABOLOGY</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Services">Services</a>
                </li>


                 @if (User.IsInRole(SD.Role_Admin))
                {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Content Manegment
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Officer" asp-action="Index">Officer</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Client" asp-action="Index">Clints</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Costumar" asp-controller="Home" asp-action="Appointment">Appointment</a>
                        </li>

                    </ul>
                </li>
                }
                @if (User.IsInRole(SD.Role_Officer))
                {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Content Manegment
                    </a>
                    <ul class="dropdown-menu">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Client" asp-action="Index">Clints</a>
                        </li>

                    </ul>
                </li>
                 }
            </ul>
        </div>
        <partial name="_LoginPartial" />
    </div>
</nav>
<!-- Navbar End -->
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 ">Client List</h2>
            </div>
        </div>
    </div>
    <div class=" card-body p-4">
        <div class="container">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Client" asp-action="Upsert" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Create New Client
                    </a>
                </div>
            </div>
            <table id="tblData" class="table table-bordered table-striped">
                <thead>

                    <tr>
                        <th>
                            Clients Id
                        </th>
                        <th>
                            Clients Name
                        </th>
                        <th>
                            Mobile No.
                        </th>
                        <th>
                            District
                        </th>
                        <th>
                            Post
                        </th>
                        <th>
                            Pin Code
                        </th>
                        <th>
                            Land Mark
                        </th>
                        <th>
                            Total Price
                        </th>
                        <th>
                            Officer Name
                        </th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var obj in Model.OrderBy(u => u.Id))
                    {
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj.CName</td>
                            <td>@obj.Mobile</td>
                            <td>@obj.Dist</td>
                            <td>@obj.Pos</td>
                            <td>@obj.Pin</td>
                            <td>@obj.LandMark</td>
                            <td>@obj.Total</td>
                            <td>@obj.Officer.Name</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Client" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a asp-controller="Client" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@* @section Scripts {
    <script src="~/js/client.js"></script>
}  *@ 