@model Company



<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 ">@(Model.Id != 0 ? "Update" : "Create") Company</h2>
            </div>
        </div>
    </div>
    <div class=" card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3 mt-4">

                        @* <div class="text-danger" asp-validation-summary="ModelOnly"></div> *@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Name" class="form-control border-0 shadow" />
                            <label asp-for="Name" class="ms-2 text-dark"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Pnumb" class="form-control border-0 shadow" />
                            <label asp-for="Pnumb" class="ms-2 text-dark"></label>
                            <span asp-validation-for="Pnumb" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Dist" class="form-control border-0 shadow" />
                            <label asp-for="Dist" class="ms-2 text-dark"></label>
                            <span asp-validation-for="Dist" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Pincode" class="form-control border-0 shadow" />
                            <label asp-for="Pincode" class="ms-2 text-dark"></label>
                            <span asp-validation-for="Pincode" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="City" class="form-control border-0 shadow" />
                            <label asp-for="City" class="ms-2 text-dark"></label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Address" class="form-control border-0 shadow" />
                            <label asp-for="Address" class="ms-2 text-dark"></label>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                       
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary text-dark form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary  text-dark form-control">Create</button>
                                }

                            </div>
                            <div class=" col-6 col-md-3">
                                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary text-dark border form-control">
                                    Back To List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}






@* ================================ Delete Code Far User Control ====================================*@


@* 

                                 public IActionResult Delete(int? id)
        {
            if (id == null || id == 0)
            {
                return NotFound();
            }
            ApplicationUser? userFromDb = _db.ApplicationUsers.Find(id);
            if (userFromDb == null)
            {
                return NotFound();
            }

            return View(userFromDb);

        }
        [HttpPost, ActionName("Delete")]
        public IActionResult DeletePOST(int? id)
        {

            ApplicationUser? obj = _db.ApplicationUsers.Find(id);
            if (obj == null)
            {
                return NotFound();
            }
            _db.ApplicationUsers.Remove(obj);
            _db.SaveChanges();
            return RedirectToAction("Index");

        } *@







                @* ========================= Delete Code Of User ============================= *@


       @*  @model ApplicationUser


<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Plot No-742/2784,Bharat Villa, Rudrapur,Pin-752101</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>24 x 7</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>9337232208</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>LABOLOGY</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link " asp-area="Customer" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" asp-area="Customer" asp-controller="Home" asp-action="Services">Services</a>
                </li>


                @if (User.IsInRole(SD.Role_Admin))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Content Manegment
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Officer" asp-action="Index">Officer</a>
                            </li>

                            <li class="nav-item">
                                <a class="dropdown-item active" asp-area="Admin" asp-controller="Client" asp-action="Index">Clints</a>
                            </li>

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="Appointment">Appointment</a>
                            </li>

                            <li><hr class="dropdown-divider" /></li>

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a>
                            </li>

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                            </li>

                        </ul>
                    </li>
                }
                @if (User.IsInRole(SD.Role_Officer))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Content Manegment
                        </a>
                        <ul class="dropdown-menu">

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Client" asp-action="Index">Clints</a>
                            </li>

                        </ul>
                    </li>
                }
            </ul>

        </div>
        <partial name="_LoginPartial" />
    </div>
</nav>
<!-- Navbar End -->



<div class="card shadow border-0 m-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Delete Client</h2>
            </div>
        </div>
    </div>
    <div class=" card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />

            <div class="border p-3">


                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2 text-dark"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Pnumb" disabled class="form-control border-0 shadow" />
                    <label asp-for="Pnumb" class="ms-2 text-dark"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <textarea asp-for="Address" disabled class="form-control border-0 shadow"></textarea>
                    <label asp-for="Address" class="ms-2 text-dark"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="City" disabled class="form-control border-0 shadow" />
                    <label asp-for="City" class="ms-2 text-dark"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Dist" disabled class="form-control border-0 shadow" />
                    <label asp-for="Dist" class="ms-2 text-dark"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Pincode" disabled class="form-control border-0 shadow" />
                    <label asp-for="Pincode" class="ms-2 text-dark"></label>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="OfficerId" disabled class="form-control border-0 shadow" />
                    <label asp-for="OfficerId" class="ms-2 text-dark"></label>

                </div>
                
                
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class=" col-6 col-md-3">
                        <a asp-controller="User" asp-action="Index" class="btn btn-secondary border form-control">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
 *@



@*  ============================= Login HTML Code ================================= *@


<@* @page
@model LoginModel




<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 ">Log in</h2>
            </div>
        </div>
    </div>

    <div class=" card-body p-4">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form id="account" method="post">
                        <h3 class=" border-bottom pb-3 mb-4 text-secondary text-center">
                            Use a local account to log in.</h3>
                       
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                        <div class=" d-flex justify-content-between pt-2">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
            @* <div class="col-md-12">
                <section>
                    <p class="divider-text d-flex pt-3">or</p>
                    <h3>Use another service to log in.</h3>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
     *@

     @* ="==================================================== New login page code ==============================" *@


@*


@page
@model LoginModel


<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Plot No-742/2784,Bharat Villa, Rudrapur,Pin-752101</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>24 x 7</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>9337232208</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>LABOLOGY</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link active" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link " asp-area="Customer" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" asp-area="Customer" asp-controller="Home" asp-action="Services">Services</a>
                </li>


                @if (User.IsInRole(SD.Role_Admin))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Content Manegment
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Officer" asp-action="Index">Officer</a>
                            </li>

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Client" asp-action="Index">Clints</a>
                            </li>

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="Appointment">Appointment</a>
                            </li>

                            <li><hr class="dropdown-divider" /></li>

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a>
                            </li>

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                            </li>

                        </ul>
                    </li>
                }
                @if (User.IsInRole(SD.Role_Officer))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Content Manegment
                        </a>
                        <ul class="dropdown-menu">

                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Client" asp-action="Index">Clints</a>
                            </li>

                        </ul>
                    </li>
                }
            </ul>

        </div>
        <partial name="_LoginPartial" />
    </div>
</nav>
<!-- Navbar End -->






    
    <style media="screen">
        

        body {
            background-color: #080710;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }

        .shape:first-child {
            background: linear-gradient( #1845ad, #23a2f6 );
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient( to right, #ff512f, #f09819 );
            right: -30px;
            bottom: -80px;
        }

        form {
            height: 520px;
            width: 400px;
            background-color: rgba(255,255,255,0.13);
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
        }

            form * {
                font-family: 'Poppins',sans-serif;
                color: #ffffff;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255,255,255,0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 50px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

            .social div {
                background: red;
                width: 150px;
                border-radius: 3px;
                padding: 5px 10px 10px 5px;
                background-color: rgba(255,255,255,0.27);
                color: #eaf0fb;
                text-align: center;
            }

                .social div:hover {
                    background-color: rgba(255,255,255,0.47);
                }

            .social .fb {
                margin-left: 25px;
            }

            .social i {
                margin-right: 4px;
            }

    </style>


    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="account" method="post">

        <h3>Login Here</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div>
            <label for="username">Username</label>
            <input asp-for="Input.Email"  autocomplete="username" aria-required="true" placeholder="name@example.com">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div>
            <label for="password">Password</label>
            <input asp-for="Input.Password"  autocomplete="current-password" aria-required="true" placeholder="password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>

        <button id="login-submit" type="submit" >Log In</button>


        <div class="social">
            <div class="go"><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></div>
            <div class="fb"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></div>
        </div>
    </form>
        
   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


*@